.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;

    width: 100%;
    height: 75px;

    background-color: $sec-text;

    color: $accent;
    font-weight: bolder;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        width: 800px;
        padding: 5px;
        margin: 0px;

        list-style-type: none;

        //RouterLink Container 
        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        // RouterLink
        > div > a {
            text-decoration: none;
            color: $accent;
        }
    }

    .bottom-container-with-search {
        flex: 1;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;

        width: 100%;
        max-width: 800px;
        padding: 5px;

        .form-wrapper {
            width: 800px;
            background-color: $accent;
        }
    }

    .search-form {
        display: flex;
        flex-direction: row;

        width: 100%;
        height: 30px;

        background-color: white;

        //Search Bar
        > input {
            flex: 1;

            padding-left: 12px;

            border: none;
            background-color: $accent;

            color: $main-text;
        }
        //Prevent focus border
        > input:focus {
            outline: none;
        }

        //input place holder color
        > input::placeholder {
            color: $sec-text;
        }
        //Search Button
        > button {
            border: none;
            background-color: $main-text;
            color: $accent;
        }
    }
}

// Search Popover
.search-popover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 10;
    transform: translate(-50%);

    width: 100%;
    max-width: 750px;
    min-height: 50px;

    background-color: $accent;

    color: $sec-text;

    span {
        padding: 10px;
    }
}